<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/{{ THEME_STATIC_DIR }}/default.css">
    <title>{% block title %}{{ SITENAME }}{% endblock %}</title>
</head>

<body>

<header>
    <h1><a href="/">{{ SITENAME }}</a></h1>
    <hr>
</header>

<main>
<section>
{% block main_content %}
    <ul>
    {% for p in pages %}
        <li><a href="/{{ p.url }}">{{ p.title }}</a></li>
    {% endfor %}
    </ul>
{% endblock %}
</section>
</main>

<footer>
    <hr>
    <p></p>
</footer>

</body>

</html>
